@keyframes fadeIn {
    to { 
        opacity: 1;
    }
}

@keyframes text-animation {
    from {
        transform: translateY(100%);
        opacity: 0;
    } 
    to {
        transform: translateY(0%);
        opacity: 1;
    }
 }

body {
    font-family: Roboto;
}

.container {
    position: relative;
}

/* Step 1 */
canvas {
    border: 3px solid blue;
}

.win-container {
    border: 3px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 400px;
    background-color: #424242;
    color: white;
    text-align: center;
    opacity: 0;
    animation: fadeIn 300ms forwards;
}

.win-container h1 {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 5%;
    animation: 700ms 0s text-animation;
}

.win-container span {
    display: block;
    opacity: 0;
    animation: 700ms 350ms text-animation forwards;
}

div.controls {
    padding: 8px 0px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 600px;
}

.score {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #37474f;
    color: white;
    text-align: center;
    line-height: 35px;
    transition: transform 300ms;
}

.score.bounce {
    transform: scale(1.1);
}

.score-container, .buttons-container {
    all: inherit;
}

.buttons-container {
    margin:0 auto;
}

button + button {
    margin-left: 8px;
}

label {
    margin-left: auto;
    display: block;
}

label + label {
    margin-left: 8px;
}

.score-container span {
    margin-left: 8px;
    margin-right: 8px;
}

.right {
    margin-left: auto;
}